
@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .card-fade-in {
    animation: fadeIn 1s ease-in-out;
  }

  .card-fade-in:hover {
    
    padding-left: 2vw;
    padding-right: 2vw;
    transition: padding 0.4s ease-in-out;
  }