.dish {
  position: relative;
  width: 8cm;
  height: 8cm;

}



.dish img {
  position: relative;
  width: 100%;
  height: 20vw;
  object-fit: cover;
  margin-top: 1vh;
  border-radius: 1vw;
  border: solid rgba(0, 0, 0, 0.476);
  
}

.dish-name {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.337);
  color: white;
  text-align: center;
  top: 15vw;
  padding: 1vw;
  

  
}

.lunch-label,
.dinner-label {
  position: absolute;
  top: 1vw;
  left: 1vw;
  color: rgb(34, 32, 32);
  font-weight: bolder;
  z-index: 100;
  
}

.dish-container {
  display: flex;
  margin-top: 3vw;
  

}
